<p>
  JGSP!

</p>

<div *ngIf="!jwtIsUndefined(); else logOut">
    <br>
  <a routerLink="/login">Login</a>
  <br>
  <a routerLink="/registracija">Registracija</a>
  <br>
</div>
<ng-template #logOut>
  <a (click)="LogOut()">LogOut</a>

<br>
</ng-template>
<a routerLink="/redVoznje">redVoznje</a>
<br>

<a routerLink="/cenovnik">Cenovnik!</a>
<br>
<a routerLink="/kupiKartu">Kupi kartu</a>

<br>
<a routerLink="/kupiKartuNeregistrovan">Kupi kartu neregistrovan!</a>

<br>
<a routerLink="/kontrolor">Proveri kartu</a>

<br>
<a routerLink="/mojProfil">Moj Profil!</a>

<br>
<a routerLink="/promenaCene">Promeni cenu karata!</a>
<br>
<a routerLink="/dodajCenovnik">Dodaj novi cenovnik!!</a>
<app-map></app-map>
<!--<app-karta></app-karta>-->