
  <select [(ngModel)]="selectedLine" >
    <option *ngFor="let lin of linijeZaView">
      <a title="{{text}}">{{lin}}</a>
    </option>
  </select>
  <select [(ngModel)]="dan" >
      <option *ngFor="let d of dani">
        {{d}} 
      </option>
    </select>
<p>
<button (click)="OnGetLinije()" >Prikazi linije</button>
<button (click)="OnGetPolasci()" >Prikazi</button>
 iz baze:<br>
  {{linija.linije}}
  Polasci sa stanice:<br>
  {{ras.polasci}}
</p>

<button (click)="JsonParsiranje()" >Json</button>
